<html>
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<link rel="stylesheet" href="survey.css">

<h2 id="title">freeCodeCamp Survey Form</h2>
<p id="description">Thank you for taking the time to help us improve the platform</p>

<div>
  
  <form id="survey-form"><br>
   <label id="name-label">Name: </label>
     <input id="name" type="text" placeholder="Please enter your name"></input><br><br>
  
  <label id="email-label">Email: </label>
    <input id="email" type="email" placeholder="Please enter email address"></input><br><br>

  <label id="number-label">Age(optional): </label>
    <input id="number" type="number" placeholder="Please enter your age"></input><br><br>

  <label>Which option best describes your current role? </label>
    <select id="dropdown" type="dropdown">
      <option disabled selected     value>Select an option</option>
      <option>Student</option>
      <option>Full Time Job</option>
      <option>Full Time Learner</option>
      <option>Prefer not to say</option>
      <option>Other</option>
  </select><br><br>

    <label>Would you recommend freeCodeCamp to a friend? </label>
      <label for="definitely"><input id="definitely" type="radio" name="definitely-maybe-notsure" value="definitely"> Definitely</label>
      <label for="maybe"><input id="maybe" type="radio" name="definitely-maybe-notsure" value="maybe"> Maybe</label>
      <label for="notsure"><input id="notsure" type="radio" name="definitely-maybe-notsure" value="notsure"> Not sure</label><br>

  <label>What is your favorite feature of freeCodeCamp? </label>
    <select id="feature" type="dropdown">
      <option disabled selected     value>Select an option </option>
      <option>Challenges</option>
      <option>Projects</option>
      <option>Community</option>
      <option>Open Source</option>
  </select><br><br>
  
  <label>What would you like to see improved? (Check all that apply)</label>
    <label for="frontend"><input id="frontend" type="checkbox" name="improvement" value="frontend"> Front-end Projects</label>
    <label for="backend"><input id="backend" type="checkbox" name="improvement" value="backend"> Back-end Projects</label>
    <label for="data"><input id="data" type="checkbox" name="improvement" value="data"> Data Visualization</label>
    <label for="challenges"><input id="challenges" type="checkbox" name="improvement" value="challenges"> Challenges</label>
    <label for="open"><input id="open" type="checkbox" name="improvement" value="open"> Open Source Community</label>
    <label for="open"><input id="open" type="checkbox" name="improvement" value="open"> Open Source Community</label>
    <label for="gitter"><input id="gitter" type="checkbox" name="improvement" value="gitter"> Gitter help rooms</label>
    <label for="videos"><input id="videos" type="checkbox" name="improvement" value="videos"> Videos</label>
    <label for="city"><input id="city" type="checkbox" name="improvement" value="city"> City Meetups</label>
    <label for="wiki"><input id="wiki" type="checkbox" name="improvement" value="wiki"> Wiki</label>
    <label for="forum"><input id="forum" type="checkbox" name="improvement" value="forum"> Forum</label>
    <label for="courses"><input id="courses" type="checkbox" name="improvement" value="courses"> Additional Courses</label>
<br>

  <label>Any comments or suggestions?</label>
    <textarea id="comment" type="text" placeholder="Please enter your comment"></textarea><br><br>

  <button id="submit" type="submit">Submit</button>
  </form>
</div>

</html>